body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tips{
  background-color: black;
  color: white;
  width:150px;
  height:100px;
  opacity: 0.7;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
